<div class="gastoMensual">
  <form class="selectMonth">
    <select id="month" name="month" [(ngModel)]="SelectedMonth" required>
      <option *ngFor="let month of months" [value]="month">{{ month }}</option>
    </select>
  </form>
  
  <form class="balances">
    <button (click)="obtenerBalance('balanceMensual')">Obtener Balance Mensual</button>
    <button (click)="obtenerBalance('balanceGastosMensual')">Obtener Gasto Mensual</button>
    <button (click)="obtenerBalance('balanceIngresosMensual')">Obtener Ingreso Mensual</button>
  </form>
  
  <div *ngIf="selectedBalance">{{ selectedBalance.message }}: {{ selectedBalance.value }}</div>
  
</div>