.balanceContainer{
    display: flex;
    justify-content: space-around; /* Ajusta el espaciado entre las columnas */
    align-items: flex-start; 
    padding: 10px;
    background: #cccccc48;
    border-radius: 16px;
    box-shadow: 0 4px 30px #9c4c00;
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid #9c4c00;
    width: 90%;
    min-height: 250px;
    margin: 20px auto;
}

.balanceContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;        
    margin: 10px; 
}

.balanceContainer > div > form{
    margin-bottom: 10px;
}

div > form > button {
    background-color: orange;
    margin-top: 20px;
    border-style: none ;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    box-shadow: 4px 4px #9c4c00;
}


div > form > button:hover {
    cursor: pointer;
    background-color:rgb(255, 123, 0);
    transition: all 0.5s;
}
div > form > button:active{
    background-color:orange ;
    transform: translate(0,1px) ;
    box-shadow: 2px 2px #9c4c00;
    transition: ease-out;
}

.resultContent{
    display: grid;
    text-align: center;

}
.resultContent > h4{
    border: solid 1px #9c4c00;
    border-radius: 10px;
    padding: 10px 20px ;
    position: absolute;
    bottom: 0;
    margin-left: 25px;
}
.resultContent > h4:hover{
    cursor: pointer;
    background-color: #9c4c00;
    color: white;
    transition: all 0.5s;
}


@media (max-width: 768px) {
    .balanceContainer {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    
    .balanceContainer > div {
      width: 80%;
    }
    .resultContent > h4 {
        position: relative;
        margin-left: 20px;
    }
  }
  