*{
    font-family:'Courier New', Courier, monospace;
}
   

body{
    background: url("comic-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin:auto;
    width:100%;
    height:100%;
    background-color:bisque;
}

.categoria-balance{
    min-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.teamContent {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  
  .teamContent > span {
    font-style: italic;
  }
  .teamContent a {
    color: #3f1e00;
  }
  
  .teamContent a:hover {
    color: #251000;
  }
  