*{
    font-family:'Courier New', Courier, monospace;
}
   

body{
    background: url("comic-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin:auto;
    width:100%;
    height:100%;
    background-color:bisque;
}

.categoria-balance{
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.balances{
  display: flex;
  flex-wrap: wrap;
}

.teamContent {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  
  .teamContent > span {
    font-style: italic;
  }
  .teamContent a {
    color: #3f1e00;
  }
  
  .teamContent a:hover {
    color: #251000;
  }
  /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9C4C00 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 17px;
  background-color: #9C4C00;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FF8800;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FFBB00;
}
