<div>
    <h2>Carga de categorias</h2>
    <form>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" [(ngModel)]="categoria.name" required>
  
      <label for="detail">Detalle:</label>
      <input type="text" id="detail" name="detail" [(ngModel)]="categoria.detail" required>

      <button (click)="guardarCategoria()">Guardar</button>
    </form>


  <h2>Lista de Categorias</h2>
  <ul>
    <li *ngFor="let categoria of obtenerCategorias()">
        <strong>{{ categoria.name }}</strong> - {{ categoria.detail }}
    </li>
  </ul>
</div>
