<div class="categorias">
  <h2>Carga de categorias</h2>
  <form>
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" [(ngModel)]="categoria.name" required>
    </div>
    
    <div>
      <label for="detail">Detalle:</label>
      <input type="text" id="detail" name="detail" [(ngModel)]="categoria.detail" required>
    </div>

    <button (click)="guardarCategoria()">Guardar</button>
  </form>

  <div *ngIf="obtenerCategorias().length > 0" class="listaCategorias">
    <ul  id="category" name="category">
      <li *ngFor="let categoria of obtenerCategorias()" value={{categoria.name}}><strong>{{ categoria.name }}</strong> - {{ categoria.detail}}</li>
    </ul>
  </div>
</div>
    
